.formulario{
    color: white;
     width: 400px;
     height: 400px;
     background-color:#0059d3;
     border-radius: 40px;
     backdrop-filter: blur(10px); /* Efeito de desfoque */
     box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
     text-align: center;
     margin-top: 5%;
     margin-left: 37%;
     margin-bottom: 300px;
     align-items: center;
     font-size: 20px;
     padding: 20px;
     display: grid;
     color: #303030;
     font-family: "Quicksand", sans-serif;
 }

 
label{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

input{
    outline: none;
    background-color: white;
    border: none;
    padding: 13px;
    border-radius: 30px;
    width: 300px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

#footer_copyright {
    display: flex;
    color: rgb(53, 53, 53);
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.7rem;
    padding: 1.5rem;
  }
